Spr2023/SampleCode/WeirdCorpus/WeirdCorpus.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI 
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Weird Corpus ODD</title>
      </titleStmt>
      <publicationStmt>
        <publisher>Lauren Liebe, Center of Digital Humanities Research, Texas A&amp;M
          University</publisher>
        <availability>
          <p>This is an open access work licensed under a Creative Commons Attribution 4.0
            International license.</p>
        </availability>
      </publicationStmt>
      <notesStmt>
        <note>Part of a learning corpus for XML-based projects</note>
      </notesStmt>
      <sourceDesc>
        <p>Born digital.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="WeirdCorpusODD" start="TEI">
        <moduleRef key="header"/>
        <moduleRef key="core"
          exclude="analytic binaryObject del email measureGrp media meeting postBox postCode"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" exclude="div1 div2 div3 div4 div5 div6 div7"/>
        <moduleRef key="namesdates"/>
        <!--add further limitations later, after personography is settled-->
        <moduleRef key="drama" include="epilogue prologue role set"/>
        <moduleRef key="figures" include="figure"/>
        <elementSpec module="namesdates" ident="persName" mode="change">
          <content>
            <alternate>
              <sequence preserveOrder="false">
                <elementRef key="forename" minOccurs="0" maxOccurs="unbounded"/>
                <elementRef key="surname" minOccurs="0" maxOccurs="unbounded"/>
              </sequence>
              <textNode/>
            </alternate>
          </content>
          <constraintSpec ident="persNameType_Standoff" scheme="schematron">
            <constraint>
              <sch:rule context="tei:text/tei:body/tei:listPerson//tei:persName">
                <sch:report test="@type">
                  Type for &lt;persName&gt; is determined in &lt;listPerson&gt;. The @type attribute should not be included here.
                </sch:report>
              </sch:rule>
            </constraint>
          </constraintSpec> 
          <constraintSpec ident="persNameType_Text" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:text//tei:body//tei:p//tei:persName | //tei:text//tei:body//tei:l//tei:persName">
                <sch:let name="persNameVal" value="'char', 'hist'"/>
                <sch:assert test="@type = $persNameVal">
                  Incorrect @type value for &lt;persName&gt;. Must be "char" (for fictional characters) or "hist" (for historical figures). 
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <!--<attList>
            <attDef ident="type" mode="change" usage="req">
              <datatype>
                <dataRef key="teidata.enumerated"/>
              </datatype>
              <valList type="closed" mode="replace">
                <valItem ident="char">
                  <gloss>Character</gloss>
                  <desc>A fictional character within the text.</desc>
                </valItem>
                <valItem ident="hist">
                  <gloss>Historical</gloss>
                  <desc>A nonfictional person referenced within the text, but not a character within
                    the text.</desc>
                </valItem>
              </valList>
            </attDef>
          </attList> -->
        </elementSpec>
        <elementSpec ident="place" module="namesdates" mode="change">
          <content>
            <sequence preserveOrder="true">
              <elementRef key="desc" minOccurs="0" maxOccurs="2"/>
              <elementRef key="placeName"/>
              <elementRef key="location"/>
              <elementRef key="country"/>
              <elementRef key="region"/>
              <elementRef key="settlement"/>
              <elementRef key="listBibl"/>
            </sequence>
          </content>
        </elementSpec>
        <elementSpec ident="placeName" module="namesdates" mode="change">
          <constraintSpec ident="placeNameType_Standoff" scheme="schematron">
            <constraint>
              <sch:rule context="tei:text/tei:body/tei:listPerson//tei:placeName">
                <sch:report test="@type">
                  Type for &lt;placeName&gt; is determined in &lt;listPlace&gt;. The @type attribute should not be included here.
                </sch:report>
              </sch:rule>
            </constraint>
          </constraintSpec> 
          <constraintSpec ident="placeNameType_Text" scheme="schematron">
            <constraint>
              <sch:rule context="//tei:text//tei:body//tei:p//tei:placeName | //tei:text//tei:body//tei:l//tei:placeName">
                <sch:let name="placeNameVal" value="'building', 'celestial', 'city', 'continent', 'country', 'district', 'fictional', 'institution', 'landmark', 'mythic', 'region', 'state', 'street'"/>
                <sch:assert test="@type = $placeNameVal">
                  Incorrect @type value for &lt;placeName&gt;. Must be one of the following values: building, city, continent, country, district, fictional, institution, landmark, mythic, region, state, or street. 
                </sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
